* {
	background-color: gray;
}

.App-container {
	display: flex;
	flex-direction: column;
	border: 5px solid black;
	width: 100vw;
	height: 100vh;
	justify-content: space-around;
	align-items: center;
}

.App-header {
	display: flex;	
	flex-direction: column;
	align-items: center;
	border: 5px solid red;
}

.Game-container {
	border: 5px solid black;
}

.VimGame {
	
}
